/*ion-list{
    width: 100% !important;
    padding: 15% 15%;
}*/

.divSameLine{
    display: flex;
    vertical-align: top;
}

.divSameLineSeparator{
    padding: 0% 6% 0% 6%;
}

.customDiv{
    width: 100% !important;
    padding: 0% 15% 0% 15%; 
}