<ion-header>
  
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col>
            <div text-center>
              <img src="../assets/img/impressjob.PNG">
              <h2>2/2</h2>
              <h6>Direccion y Contacto</h6>
            </div>
            <ion-list>
              <div class="divSameLine">
                <div class="divSameLineSeparator">
                  <ion-list>
                      <ion-item>
                        <ion-label text-center position="stacked">País</ion-label>
                        <ion-select value="Venezuela">
                          <ion-select-option value="Venezuela">Venezuela</ion-select-option>
                          <ion-select-option value="México">México</ion-select-option>
                        </ion-select>
                      </ion-item>
                  </ion-list>
                </div>
                <div class="divSameLineSeparator">
                  <ion-list>
                      <ion-item>
                        <ion-label text-center position="stacked">Edo./ Prov./ Dppto</ion-label>
                        <ion-select value="Distrito Capital">
                          <ion-select-option value="Distrito Capital">Distrito Capital</ion-select-option>
                          <ion-select-option value="Lara">Lara</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-list>
                </div>
              </div>
              <div class="customDiv">
                <ion-list>
                  <ion-item>
                    <ion-label text-center position="stacked">Ciudad</ion-label>
                    <ion-select value="Caracas">
                      <ion-select-option value="Caracas">Caracas</ion-select-option>
                      <ion-select-option value="Barquisimeto">Barquisimeto</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
              </div>
              <div class="customDiv">
                <ion-item>
                    <ion-label text-center position="stacked">Direccion</ion-label>
                    <ion-input  name="address" type="text" ngModel></ion-input>
                </ion-item>
              </div>
              <div class="divSameLine">
                <div class="divSameLineSeparator">
                  <ion-list>
                      <ion-item>
                        <ion-label text-center position="stacked">Cod. del País</ion-label>
                        <ion-select value="+58">
                          <ion-select-option value="+58">+58</ion-select-option>
                          <ion-select-option value="+52">+52</ion-select-option>
                        </ion-select>
                      </ion-item>
                  </ion-list>
                </div>
                <div class="divSameLineSeparator">
                  <ion-item>
                      <ion-label text-center position="stacked">Teléfono</ion-label>
                      <ion-input  name="tel" type="number" ngModel></ion-input>
                  </ion-item>
                </div>
              </div>
              <div>
                <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Continuar</ion-button>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
</form>
</ion-content>
