/*ion-list{
    width: 100% !important;
    padding: 20% 20%;
}*/

.customDiv{
    width: 100% !important;
    padding: 0% 15% 0% 15%; 
}

.customDiv2{
    width: 100% !important;
    padding: 0% 15% 0% 15%; 
}

.customLabel{
    font-size: 17px !important;
    color : #3bc0b7 !important;
    font-weight: bold !important;
    text-align: center !important;
    padding-left: 30% !important;
}

.customLabelFechaNac{
    font-size: 17px !important;
    color : #3bc0b7 !important;
    font-weight: bold !important;
    text-align: center !important;
    padding-left: 29% !important;
}

.customButton{
    text-align: center !important;
    padding-top: 10% !important;
}

.inputCustom{
    font-size: 14px !important;
    color : #464747 !important;
    
}

.selectCustom{
    font-size: 14px !important;
    color : #464747 !important;
    padding-left: 10% !important;
}

.selectCustomFechaNac{
    color : #464747 !important;
    font-size: 14px !important;
}